/* ROOT */
* {
  box-sizing: border-box;
}

.main-contact-page{
  background-color: var(--main);
}

.contact{
  min-height: 100vh;
  padding: 1px;
}

/* FONT STYLES */
.contact-title {
  color: var(--main);
  padding: 10px;
  font-size: 38px;
  font-family: 'Abril Fatface', sans-serif;
}

.tile.is-ancestor {
  margin-left: 0rem; 
  margin-right: 0rem;
  margin-top: 0rem;
}

.contact-sub {
  font-family: 'Gentiium Book Basic', sans-serif;
}
/* TILE */

.contact-tile {
  justify-content: center;
}

.contact-side{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 100px;
}

.contact-email, .contact-based{
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.right-side, .left-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-email-heading{
  display: flex;
  align-items: center;
  justify-content: center;
}

.envelope{
  margin-left: 5px;
  color: rgb(3, 3, 3);
  font-size: 15px;
  cursor: pointer;
}


.envelope:hover{
  color: white;
  background-color: black;
  font-size: 20px;
}

/* MEDIA SCREENS */

@media screen and (max-width: 980px) {
  .level-field {
    justify-content: center;
    align-content: center;
  }

  
}

@media screen and (max-width: 600px) {
  .level-field {
   display: inline-block;
  } 
  
  .contact{
    width: 100%;
  }

  .level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
}

  .contact-title{
    font-size: 25px;
  }

  .title{
    background-attachment: red;
  }

  .contact-infos-paragraph{
    font-size: 15px;
  }

  .tile.is-parent {
    padding: 3rem;
  }
}